.filters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
}

.filters > div{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}